@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background: rgb(149, 149, 255);
}